<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hotels{% endblock %}</title>
        <style>
            .modal-backdrop.foo { z-index: 2000 !important; }
            modal-dialog.foo { z-index:2001 !important;}
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{asset('template/global/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/css/bootstrap-extend.min.css')}}">
        <link rel="stylesheet" href="{{asset('template/base/assets/css/site.min.css')}}">
        <!-- Plugins -->
        <link rel="stylesheet" href="{{asset('template/global/vendor/animsition/animsition.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/vendor/asscrollable/asScrollable.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/vendor/switchery/switchery.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/vendor/intro-js/introjs.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/vendor/slidepanel/slidePanel.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/vendor/flag-icon-css/flag-icon.css')}}">
          
        <!-- Fonts -->
        <link rel="stylesheet" href="{{asset('template/global/fonts/font-awesome/font-awesome.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/fonts/glyphicons/glyphicons.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/fonts/weather-icons/weather-icons.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/fonts/web-icons/web-icons.min.css')}}">
        <link rel="stylesheet" href="{{asset('template/global/fonts/brand-icons/brand-icons.min.css')}}">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
        
        <link rel="stylesheet" href="{{asset('template/base/assets/examples/css/tables/datatable.css')}}">

        <link rel="stylesheet" href="{{asset('css/select.min.css')}}">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
        <link rel="stylesheet" href="{{asset('css/hotels.css')}}">
        <link rel="stylesheet" href="{{asset('css/base.css')}}">
         
         <!--[if lt IE 9]>
          <script src="{{asset('template/global/vendor/html5shiv/html5shiv.min.js')}}"></script>
          <![endif]-->
        <!--[if lt IE 10]>
          <script src="{{asset('template/global/vendor/media-match/media.match.min.js')}}"></script>
          <script src="{{asset('template/global/vendor/respond/respond.min.js')}}"></script>
          <![endif]-->
        <!-- Scripts -->
        <script src="{{asset('template/global/vendor/modernizr/modernizr.js')}}"></script>
        <script src="{{asset('template/global/vendor/breakpoints/breakpoints.js')}}"></script>
        <script>
        Breakpoints();
        </script>        
        
    </head>
    {% block allbody %}
        <body class="dashboard" ng-app="hotels">
        <!--[if lt IE 8]>
              <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->
        
        <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
            data-toggle="menubar">
              <span class="sr-only">Toggle navigation</span>
              <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
            data-toggle="collapse">
              <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <a href="{{path('homepage')}}">
                <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                  <img class="navbar-brand-logo" src="{{asset('images/logo.png')}}" title="Booking Trend">
                  <span class="navbar-brand-text"> Booking Trend</span>
                </div>
            </a>
          </div>
          <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
              <!-- Navbar Toolbar -->
              <ul class="nav navbar-toolbar">
                <li class="hidden-float" id="toggleMenubar">
                  <a data-toggle="menubar" href="#" role="button">
                    <i class="icon hamburger hamburger-arrow-left">
                        <span class="sr-only">Toggle menubar</span>
                        <span class="hamburger-bar"></span>
                      </i>
                  </a>
                </li>                
              </ul>
              <!-- End Navbar Toolbar -->
              <!-- Navbar Toolbar Right -->
              <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="dropdown">
                  <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                  data-animation="scale-up" role="button">
                    <i class="icon wb-bell" aria-hidden="true"></i>
                    <span class="badge badge-danger up">5</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                    <li class="dropdown-menu-header" role="presentation">
                      <h5>NOTIFICATIONS</h5>
                      <span class="label label-round label-danger">New 5</span>
                    </li>
                    <li class="list-group" role="presentation">
                      <div data-role="container">
                        <div data-role="content">
                          <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                            <div class="media">
                              <div class="media-left padding-right-10">
                                <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                              </div>
                              <div class="media-body">
                                <h6 class="media-heading">A new order has been placed</h6>
                                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                              </div>
                            </div>
                          </a>                          
                        </div>
                      </div>
                    </li>
                    <li class="dropdown-menu-footer" role="presentation">
                      <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                        <i class="icon wb-settings" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:void(0)" role="menuitem">
                          All notifications
                        </a>
                    </li>
                  </ul>                    
                </li>
                <li>
                    <a href="{{path('logout')}}" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
                      <span class="icon wb-power" aria-hidden="true"></span>
                    </a>                    
                </li>
              </ul>
              <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->           
          </div>
        </nav>
        <div class="site-menubar">
          <div class="site-menubar-body">
            <div>
              <div>
                <ul class="site-menu">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="site-menu-item has-sub">
                          <a href="{{path('users')}}">
                            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                            <span class="site-menu-title">Usuaris</span>
                          </a>
                        </li>              
                        <li class="site-menu-item has-sub">
                          <a href="{{path('parameters')}}">
                            <i class="site-menu-icon wb-link" aria-hidden="true"></i>
                            <span class="site-menu-title">Paràmetres</span>
                          </a>
                        </li>                        
                        <li class="site-menu-item has-sub">
                          <a href="{{path('rules')}}">
                            <i class="site-menu-icon wb-calendar" aria-hidden="true"></i>
                            <span class="site-menu-title">Tarifes</span>
                          </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="site-menu-item has-sub">
                          <a href="{{path('specialrates')}}">
                            <i class="site-menu-icon wb-map" aria-hidden="true"></i>
                            <span class="site-menu-title">Preus especials</span>
                          </a>
                        </li>
                        <li class="site-menu-item has-sub">
                          <a href="{{path('login')}}">
                            <i class="site-menu-icon fa-exchange" aria-hidden="true"></i>                            
                            <span class="site-menu-title">Diari</span>
                          </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="site-menu-item has-sub">
                          <a href="{{path('reservations')}}">
                            <i class="site-menu-icon wb-lock" aria-hidden="true"></i>
                            <span class="site-menu-title">Reserves</span>
                          </a>
                        </li>
                    {% endif %}
                    
                </ul>
              </div>
            </div>
          </div>
        </div>        

         <div class="page animsition">
            <div class="page-content padding-30 container-fluid">
                {% block body %}{% endblock %}
                </div>
         </div>
                
        <script src="{{asset('js/angular.min.js')}}"></script>
        <script src="{{asset('js/ui-bootstrap-tpls-2.2.0.min.js')}}"></script>
        <script src="{{asset('js/angular-sanitize.min.js')}}"></script>
        <script src="{{asset('js/angular-animate.min.js')}}"></script>
        
        <script src="{{asset('template/global/vendor/jquery/jquery.js')}}"></script>
        <script src="{{asset('template/global/vendor/bootstrap/bootstrap.js')}}"></script>
        <script src="{{asset('template/global/vendor/animsition/animsition.js')}}"></script>
        <script src="{{asset('template/global/vendor/asscroll/jquery-asScroll.js')}}"></script>
        <script src="{{asset('template/global/vendor/mousewheel/jquery.mousewheel.js')}}"></script>
        <script src="{{asset('template/global/vendor/asscrollable/jquery.asScrollable.all.js')}}"></script>
        <script src="{{asset('template/global/vendor/ashoverscroll/jquery-asHoverScroll.js')}}"></script>
        <!-- Plugins -->
        <script src="{{asset('template/global/vendor/switchery/switchery.min.js')}}"></script>
        <script src="{{asset('template/global/vendor/intro-js/intro.js')}}"></script>
        <script src="{{asset('template/global/vendor/screenfull/screenfull.js')}}"></script>
        <script src="{{asset('template/global/vendor/slidepanel/jquery-slidePanel.js')}}"></script>
        <script src="{{asset('template/global/js/core.js')}}"></script>
        <script src="{{asset('template/base/assets/js/site.js')}}"></script>
        <script src="{{asset('template/base/assets/js/sections/menu.js')}}"></script>
        <script src="{{asset('template/base/assets/js/sections/menubar.js')}}"></script>
        <script src="{{asset('template/base/assets/js/sections/gridmenu.js')}}"></script>
        <script src="{{asset('template/base/assets/js/sections/sidebar.js')}}"></script>
        <script src="{{asset('template/global/js/configs/config-colors.js')}}"></script>
        <script src="{{asset('template/base/assets/js/configs/config-tour.js')}}"></script>
        <script src="{{asset('template/global/js/components/asscrollable.js')}}"></script>
        <script src="{{asset('template/global/js/components/animsition.js')}}"></script>
        <script src="{{asset('template/global/js/components/slidepanel.js')}}"></script>
        <script src="{{asset('template/global/js/components/switchery.js')}}"></script>
        <script src="{{asset('template/global/vendor/asrange/jquery-asRange.min.js')}}"></script>
        <script src="{{asset('template/base/assets/examples/js/uikit/icon.js')}}"></script>
        <script src="{{asset('js/select.min.js')}}"></script>
        
        <script src="{{asset('js/app.js')}}"></script>        
  
        {% block scripts %}{% endblock %}
    </body>
    {% endblock %}
</html>
