    <div class="modal-header">
        <h3 class="modal-title">{[{title}]}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <p class="text-center">
                {[{message}]}
            </p>
        </div>
        <div class="row" ng-if="message">
            <div class="col-md-6">
                <input class="btn btn-lg btn-info center-block" type="button" ng-click="cancel()" value="Cancel.lar" />
            </div>
            <div class="col-md-6">
                <input class="btn btn-lg btn-success center-block" type="submit" ng-click="ok()" value="OK" />
            </div>
        </div>
    </div>

