{% extends '::base.html.twig' %}
		



{% block allbody %}
    
    {% block body %}
    {% endblock %}

    <script src="{{asset('js/angular.min.js')}}"></script>
    <script src="{{asset('js/ui-bootstrap-tpls-2.2.0.min.js')}}"></script>
    <script src="{{asset('locale/angular-locale_'~app.request.locale~'.js')}}"></script>    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
    <script src="{{asset('js/angular-animate.min.js')}}"></script>
    <script src="{{asset('js/select.min.js')}}"></script>
    
    <script src="{{asset('template/global/vendor/jquery/jquery.js')}}"></script>
    <script src="{{asset('template/global/vendor/bootstrap/bootstrap.js')}}"></script>
    <script src="{{asset('template/global/vendor/animsition/animsition.js')}}"></script>
    <!-- Plugins -->
    <script src="{{asset('template/global/js/core.js')}}"></script>
    <script src="{{asset('template/base/assets/js/site.js')}}"></script>
    <script src="{{asset('template/global/js/components/animsition.js')}}"></script>

    <script src="{{asset('js/app.js')}}"></script>
    {% block scripts %}
    {% endblock %}
    
    <script>
      (function(document, window, $) {
        'use strict';
        var Site = window.Site;
        $(document).ready(function() {
          Site.run();
        });
      })(document, window, jQuery);
    </script>    
{% endblock %}					
                
                                        
                                        
                                        

