<div class="modal-header">
    <h3 class="modal-title">Editar Opció</h3>
</div>
<form name='form' class="modal-body form-horizontal">
    <div class="form-group">
        <span class="control-label col-sm-3">Id</span>
        <div class="col-sm-9">
            <input class="form-control" type="text" ng-model="entity.id" readonly>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':entity.__errorname}">
        <span class="control-label col-sm-3">Nom</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.name" class="form-control" placeholder="Nom">                
            <div class="error" ng-show="entity.__errorname">{[{entity.__errorname}]}</div>
        </div>            
    </div>
    
    <uib-tabset active="active" class="form-group" style="padding-left:20px; padding-right:20px;">
        <uib-tab index="$index" ng-repeat="language in languages" heading="{[{language.name}]}">
            <input type="text" ng-model="entity.translations[$index].name" placeholder="nom" class="form-control"/>
            <textarea ng-model="entity.translations[$index].description" placeholder="descripció" class="form-control"></textarea>
        </uib-tab>
    </uib-tabset>

    
    <div >
        <div class="form-group" ng-class="{'has-error':entity.__errordispo}" ng-show="parameter.hasDispo">
            <span class="control-label col-sm-3">Dispo</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.dispo" class="form-control" placeholder="Nom">                
                <div class="error" ng-show="entity.__errordispo">{[{entity.__errordispo}]}</div>
            </div>            
        </div>

        <div class="form-group" ng-class="{'has-error':entity.__errorpax}" ng-show="parameter.hasPax">
            <span class="control-label col-sm-3">PAX</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.pax" class="form-control" placeholder="Nom">                
                <div class="error" ng-show="entity.__errorpax">{[{entity.__errorpax}]}</div>
            </div>            
        </div>
    </div>
    
    <div class="row" style="padding-left:20px; padding-right:20px;">
        <div ng-repeat="image in entity.images" style="float:left; width:200px; height:200px; position:relative; padding:20px;">
            <img src="{{asset('images/delete.png')}}" style="position:absolute; z-index:10; cursor:pointer" ng-click="delImage($index);"/>
            <img ng-src="{[{imagePath('{{asset('optionImages')}}',image);}]}" style="width:150px; height:150px;"/>
        </div>

        <div id="uploadImage" imagedrop="addImage" style="float:left; height:100px;border: 1px solid #E4EAEC;border-radius: 3px;padding:20px;">
            Arrossega una imatge aquí
        </div>
    </div>
    

    
    <div class="form-group">
        <div class="col-md-6">
            <input class="btn btn-lg btn-info center-block" type="button" ng-click="cancel()" value="Cancel.lar" />
        </div>
        <div class="col-md-6">
            <input class="btn btn-lg btn-success center-block" type="submit" ng-click="ok()" value="Guardar" />
        </div>
    </div>
</form>

