<div class="modal-header">
    <h3 class="modal-title">Editar Paràmetre</h3>
</div>
<form name='form' class="modal-body form-horizontal">
    <div class="form-group">
        <span class="control-label col-sm-3">Id</span>
        <div class="col-sm-9">
            <input class="form-control" type="text" ng-model="entity.id" readonly>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':entity.__errorname}">
        <span class="control-label col-sm-3">Nom</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.name" class="form-control" placeholder="Nom">                
            <div class="error" ng-show="entity.__errorname">{[{entity.__errorname}]}</div>
        </div>            
    </div>
    
    <div class="form-group">
        <span class="control-label col-sm-3">Té Dispo</span>
        <div class="col-sm-9">
            <input type="checkbox" ng-model="entity.hasDispo" class="form-control">                
        </div>            
    </div>
    
    <div class="form-group">
        <span class="control-label col-sm-3">Té Preu</span>
        <div class="col-sm-9">
            <input type="checkbox" ng-model="entity.hasRate" class="form-control">                
        </div>            
    </div>
    
    <div class="form-group">
        <span class="control-label col-sm-3">Té PAX</span>
        <div class="col-sm-9">
            <input type="checkbox" ng-model="entity.hasPax" class="form-control">                
        </div>            
    </div>
    
    
      
    <div>
        <span ng-click="editOption(-1);"  style="font-family:'FontAwesome';font-size:30px;cursor:pointer;">&#xf055;</span>        
        <h2 style="display:inline;">Opcions</h2>
    </div>
    <table class="table table-hover dataTable table-striped width-full">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="option in entity.options">
                <td><img src="{{asset('images/edit.png')}}" ng-click="editOption($index)"/></td>
                <td>{[{option.id}]}</td>
                <td>{[{option.name}]}</td>
                <td><img src="{{asset('images/delete.png')}}" ng-click="delOption($index)"/></td>
            </tr>
        </tbody>
    </table>

    
    <div class="form-group">
        <div class="col-md-6">
            <input class="btn btn-lg btn-info center-block" type="button" ng-click="cancel()" value="Cancel.lar" />
        </div>
        <div class="col-md-6">
            <input class="btn btn-lg btn-success center-block" type="submit" ng-click="ok()" value="Guardar" />
        </div>
    </div>
</form>

