{% extends '::base.html.twig' %}  
 
{% set entityName='User' %}
{% set controller=entityName ~ 'sCtrl'%}
{% set controllerJS='js/' ~ entityName ~ 'Ctrl.js'%}

{% block body %}    
    <h1>Usuaris</h1>
    <div class="panel" id="{{controller}}" ng-controller="{{controller}}">
        <div  class="panel-body" mytable="datatable">
            <table id="datatable" class="table table-hover dataTable table-striped width-full">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Cognom</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="{{asset('images/edit.png')}}" ng-click="action('edit')"/></td>
                        <td>{[{$element.name}]}</td>
                        <td>{[{$element.surname}]}</td>
                        <td>{[{$element.dateDMY}]}</td>
                        <td><img src="{{asset('images/delete.png')}}" ng-click="action('del')"/></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
{% endblock %}

{% block scripts %} 
<script src="{{asset(controllerJS)}}"></script>
<script>
    var countries=[];
        {% for country in countries %}
            countries.push({id:{{country.id}},name:'{{country.name}}'});
        {% endfor %}
    var entitiesJson="{{path((entityName | lower) ~'s_json')}}";
    var entityJson="{{path((entityName | lower) ~'_json')}}";
</script>
{% endblock %}      
 