<div class="modal-header">
    <h3 class="modal-title">Editar Usuari</h3>
</div>
<form name='form' class="modal-body form-horizontal">
    <div class="form-group">
        <span class="control-label col-sm-3">Id</span>
        <div class="col-sm-9">
            <input class="form-control" type="text" ng-model="entity.id" readonly>
        </div>
    </div>
    <div class="form-group">
        <span class="control-label col-sm-3">Data Entrada</span>
        <div class="col-sm-9">
            <input type="text" class="form-control" readonly ng-model="entity.registerDateDMY"/>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':entity.__errorname}">
        <span class="control-label col-sm-3">Nom</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.name" class="form-control" placeholder="Nom">                
            <div class="error" ng-show="entity.__errorname">{[{entity.__errorname}]}</div>
        </div>            
    </div>

    <div class="form-group" ng-class="{'has-error':entity.__errorsurname}">
        <span class="control-label col-sm-3">Cognom</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.surname" class="form-control" placeholder="Cognom">
            <div class="error" ng-show="entity.__errorsurname">{[{entity.__errorsurname}]}</div>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':entity.__errorNIF}">
        <span class="control-label col-sm-3">NIF/Passaport</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.NIF" class="form-control" placeholder="Cognom">
            <div class="error" ng-show="entity.__errorNIF">{[{entity.__errorNIF}]}</div>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':entity.__errortel}">
        <span class="control-label col-sm-3">Telèfon</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.tel" class="form-control" placeholder="">
            <div class="error" ng-show="entity.__errortel">{[{entity.__errortel}]}</div>
        </div>
    </div>    
    
    <div class="form-group" ng-class="{'has-error':entity.__erroraddress}">
        <span class="control-label col-sm-3">Adreça</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.address" class="form-control" placeholder="">
            <div class="error" ng-show="entity.__erroraddress">{[{entity.__erroraddress}]}</div>
        </div>
    </div>
    
    <div class="form-group" ng-class="{'has-error':entity.__errorpostcode}">
        <span class="control-label col-sm-3">Codi Postal</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.postcode" class="form-control" placeholder="">
            <div class="error" ng-show="entity.__errorpostcode">{[{entity.__errorpostcode}]}</div>
        </div>
    </div>
    
    <div class="form-group" ng-class="{'has-error':entity.__errorcity}">
        <span class="control-label col-sm-3">Població</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.city" class="form-control" placeholder="">
            <div class="error" ng-show="entity.__errorcity">{[{entity.__errorcity}]}</div>
        </div>
    </div>
    
    <div class="form-group">
        <span class="control-label col-sm-3">País</span>
        <div class="col-sm-9">
            <select ng-model="entity.countryId" ng-options="country.id as country.name for country in countries" class="form-control">
            </select>
        </div>
    </div>   
    
    
    <div class="form-group">
        <span class="control-label col-sm-3">Rol</span>
        <div class="col-sm-9">
            <select ng-model="entity.role" ng-options="role.id as role.name for role in roles" class="form-control">
            </select>
        </div>
    </div>    
    
    <div class="form-group" ng-class="{'has-error':entity.__errorusername}">
        <span class="control-label col-sm-3">Login</span>
        <div class="col-sm-9">
            <input type="text" ng-model="entity.username" class="form-control" placeholder="login">
            <div class="error" ng-show="entity.__errorusername">{[{entity.__errorusername}]}</div>
        </div>
    </div>    

    <div class="form-group">            
        <span class="control-label col-sm-3">Password</span>
        <div class="col-sm-9">
            <input type="password" name="password" ng-model="entity.password" class="form-control" placeholder="password">
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !isPasswordValid()}">
        <span class="control-label col-sm-3">Repeteix Password</span>
        <div class="col-sm-9">
            <input type="password" name="repeatPassword" ng-model="entity.repeatPassword" class="form-control" placeholder="password">
            <div class="error" ng-show="!isPasswordValid()">{[{entity.__errorrepeatPassword}]}</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <input class="btn btn-lg btn-info center-block" type="button" ng-click="cancel()" value="Cancel.lar" />
        </div>
        <div class="col-md-6">
            <input class="btn btn-lg btn-success center-block" type="submit" ng-click="ok()" value="Guardar" />
        </div>
    </div>
</form>
