<div class="vertical-align-middle form-horizontal pdswizard" ng-show="page==PG_CLIENTDATA">
    <form novalidate ng-submit="next()">      
        <div class="brand">
            <h2 class="brand-text">{{"Nou Client"|trans}}</h2>
        </div>

        <div class="form-group" ng-class="{'has-error':user.__errorusername}">
            <span class="control-label col-sm-4 no-wrap">{{"e-mail"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.username" placeholder="..." type="text">
                <div class="error" ng-show="user.__errorusername">{[{user.__errorusername}]}</div>
            </div>
        </div>                                

         <div class="form-group">
            <span class="control-label col-sm-4 no-wrap">{{"Password"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.password" type="password">
            </div>
        </div>                                

        <div class="form-group" ng-class="{'has-error': !isPasswordValid()}">
            <span class="control-label col-sm-4 no-wrap">{{"Repeteix password"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.repeatPassword" type="password">
                <div class="error" ng-show="!isPasswordValid()">{[{user.__errorrepeatPassword}]}</div>                        
            </div>
        </div>                

         <div class="form-group" ng-class="{'has-error':user.__errorname}">
            <span class="control-label col-sm-4 no-wrap">{{"Nom"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.name"  placeholder="..." type="text">
                <div class="error" ng-show="user.__errorname">{[{user.__errorname}]}</div>
            </div>
        </div>

         <div class="form-group" ng-class="{'has-error':user.__errorsurname}">
            <span class="control-label col-sm-4 no-wrap">{{"Cognoms"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.surname" placeholder="..." type="text">
                <div class="error" ng-show="user.__errorsurname">{[{user.__errorsurname}]}</div>
            </div>
        </div>

         <div class="form-group" ng-class="{'has-error':user.__errorNIF}">
            <span class="control-label col-sm-4 no-wrap">{{"NIF"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.NIF" placeholder="..." type="text">
                <div class="error" ng-show="user.__errorNIF">{[{user.__errorNIF}]}</div>
            </div>
        </div>

         <div class="form-group" ng-class="{'has-error':user.__errortel}">
            <span class="control-label col-sm-4 no-wrap">{{"Telèfon"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.tel" placeholder="..." type="text">
                <div class="error" ng-show="user.__errortel">{[{user.__errortel}]}</div>
            </div>
        </div>     

         <div class="form-group" ng-class="{'has-error':user.__erroraddress}">
            <span class="control-label col-sm-4 no-wrap">{{"Adreça"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.address" placeholder="..." type="text">
                <div class="error" ng-show="user.__erroraddress">{[{user.__erroraddress}]}</div>
            </div>
        </div>                


         <div class="form-group" ng-class="{'has-error':user.__errorpostcode}">
            <span class="control-label col-sm-4 no-wrap">{{"Codi Postal"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.postcode" placeholder="..." type="text">
                <div class="error" ng-show="user.__errorpostcode">{[{user.__errorpostcode}]}</div>
            </div>
        </div>    


         <div class="form-group" ng-class="{'has-error':user.__errorcity}">
            <span class="control-label col-sm-4 no-wrap">{{"Població"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="user.city" placeholder="..." type="text">
                <div class="error" ng-show="user.__errorcity">{[{user.__errorcity}]}</div>
            </div>
        </div>                

        <div class="form-group">
            <span class="control-label col-sm-4 no-wrap">{{"País"|trans}}:</span>
            <div class="col-sm-8">
                <div class="btn-group" style='width:100%;'>
                    <button type="button" class="btn btn-default btn-outline">{[{countries[user.countryId]}]}</button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-outline" id="exampleSplitDropdown1" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="exampleSplitDropdown1" role="menu">
                        <li role="presentation" ng-repeat="(id,name) in countries" ng-click="setClientCountry(id)">{[{name}]}</li>
                    </ul>
                </div>
            </div>
        </div>            

        <div class='form-group'>
            <button type="button" class="btn btn-icon btn-primary pdsbutton" ng-click="prev()"><i class="icon glyphicon glyphicon-backward" aria-hidden="true"></i></button>
            <button type="submit" class="btn btn-icon btn-primary pdsbutton"><i class="icon glyphicon glyphicon-forward" aria-hidden="true"></i></button>
        </div>
    </form>
</div>