 <div class="vertical-align-middle form-horizontal pdswizard" ng-show="page==PG_CONFIRM">        
    <div class="brand">
      <h2 class="brand-text">{{"Confirmació"|trans}}</h2>
    </div>
     
    <div ng-show="message" class="alert alert-danger fade in">{[{message}]}</div>

    <div class="pds-border">
        <div class="pds-reservation-info">
            <div class="item">
                <div>{{"Tipus d'habitació"|trans}}</div>
                <div>{[{reservation.roomType.name}]}</div>
            </div>
            <div class="item">
                <div>{{"Pensió"|trans}}</div>
                <div>{[{reservation.accommodation.name}]}</div>
            </div>               
            <div class="item">
                <div>{{"Forma de pagament"|trans}}</div>
                <div>{[{reservation.paymentType.name}]}</div>
            </div>
        </div>
        <div class="pds-reservation-info">
            <div class="item" ng-repeat="age in ages" ng-if="age.pax>0">
                <div>{[{age.name}]}</div>
                <div>{[{age.pax}]}</div>
            </div>
        </div>
        <div class="pds-reservation-info">
            <div class="item">
                <div>{{"Nits"|trans}}</div>
                <div>{[{numDays()}]}</div>
            </div>
            <div class="item">
                <div>{{"Entrada"|trans}}</div>
                <div>{[{YMDToDMY(reservation.dateInYMD)}]}</div>
            </div>
            <div class="item">
                <div>{{"Sortida"|trans}}</div>
                <div>{[{YMDToDMY(reservation.dateEndYMD)}]}</div>
            </div>       
        </div>
    </div>
    <div class="center pds-rate">{[{reservation.rate}]}€</div>

    <h2 class="brand-text" ng-show="reservation.conditions.length>0">{{"Condicions"|trans}}</h2>
    <div class="pds-border pds-conditions" style="max-width:600px;">
        <div class="pds-condition" ng-repeat="condition in reservation.conditions">
            {[{$index+1}]}. {[{condition.description}]}
        </div>
    </div> 

    <div ng-show="reservation.paymentMethod==1">
        <div class="center">
            <div  style="text-align:left; max-width:600px; display:inline-block;">
                <h4>Informació Pagament amb  Transferència via Bancària</h4>
                <p>Es realitzarà una transferència bancaria per l'import total de la reserva al número de compte:  </p>           

                <p>Beneficiari: Hostal Fabrellas
                    Número de compte: ES00 0000 00000 0000 0000 0000 La Caixa</p>

                <p>És molt important que al camp remitent o ordenant s'indiqui el número de reserva, 
                    nom i cognoms (que consten a la reserva) i matrícula de l'embarcació.</p>

                <p>Acceptem un plaç de 7 dies laborables per ordenar la transferència després de fer la reserva. 
                No es considerarà efectiva la reserva fins que es confirmi el pagament de la mateixa. En cas 
                de superar el plaç indicat, la reserva es cancel·larà si l'ingrés no s'ha fet efectiu. </p>
            </div>
        </div>
        
        <div>
            <input type="checkbox" ng-model="accept"> {{"Accepto la política de privacitat i les condicions de reserva"|trans}}
        </div>        
        <form id="checkout" method="post" action="{{path('checkoutBankTransfer')}}">
            <input type="hidden" name="reservation" ng-value="reservationJSON"/>
            <div class='form-group'>
                <button type="button" class="btn btn-icon btn-danger pdsbutton" ng-click="prev()">{{"No"|trans}}</i></button>
                <button type="submit" ng-disabled="!accept" class="btn btn-icon btn-primary pdsbutton">{{"Sí"|trans}}</button>
            </div>
        </form>
    </div>
    
    
    <div ng-show="reservation.paymentMethod==2" style="max-width:600px;">
        <div>
            <input type="checkbox" ng-model="accept"> {{"Accepto la política de privacitat i les condicions de reserva"|trans}}
        </div>        

        <form id="checkout" method="post" action="{{path('checkoutPayPal')}}">
            <input type="hidden" name="reservation" ng-value="reservationJSON"/>
            <div id="payment-form"></div>
            <div class='form-group'>
                <button type="button" class="btn btn-icon btn-danger pdsbutton" ng-click="prev()">{{"No"|trans}}</i></button>
                <button type="submit" ng-disabled="!accept" class="btn btn-icon btn-primary pdsbutton">{{"Sí"|trans}}</button>
            </div>
        </form>
    </div>
            
    <div ng-show="reservation.paymentMethod==3" style="max-width:600px;">
        <div>
            <input type="checkbox" ng-model="accept"> {{"Accepto la política de privacitat i les condicions de reserva"|trans}}
        </div>        

        <form id="checkout" method="post" action="{{path('checkoutTPV')}}">
            <input type="hidden" name="reservation" ng-value="reservationJSON"/>
            <div class='form-group'>
                <button type="button" class="btn btn-icon btn-danger pdsbutton" ng-click="prev()">{{"No"|trans}}</i></button>
                <button type="submit" ng-disabled="!accept" class="btn btn-icon btn-primary pdsbutton">{{"Sí"|trans}}</button>
            </div>
        </form>
    </div>

</div>