<div class="vertical-align-middle form-horizontal pdswizard" ng-show="page==PG_CONFIRM_MAIL">
    <form novalidate ng-submit="next()">   
        <div class="brand">
            <h2 class="brand-text">{{"Confirmació e-mail"|trans}}</h2>
        </div>

        <div ng-show="message" class="alert alert-warning fade in">{[{message}]}</div>
        

         <div class="form-group">
            <span class="control-label col-sm-4 no-wrap">{{"Codi confirmació"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="mailConfirmationCode" type="text">
            </div>
        </div>                              

        <div class='form-group'>
            <button type="button" class="btn btn-icon btn-primary pdsbutton" ng-click="prev()"><i class="icon glyphicon glyphicon-backward" aria-hidden="true"></i></button>
            <button type="submit" class="btn btn-icon btn-primary pdsbutton"><i class="icon glyphicon glyphicon-forward" aria-hidden="true"></i></button>
        </div>
    </form>
</div>