<div class="vertical-align-middle form-horizontal pdswizard" ng-show="page==PG_DISPO">   
    <form novalidate ng-submit="next()">
        <div class="brand">
            <h2 class="brand-text">{{"Reserva"|trans}}</h2>
        </div>

        <div class="pds-border">
            <div class="pds-reservation-info">
                <div class="item">
                    <div>{{"Tipus Habitació"|trans}}</div>
                    <div>{[{reservation.roomType.name}]}</div>
                </div>
                <div class="item">
                    <div>{{"Pensió"|trans}}</div>
                    <div>{[{reservation.accommodation.name}]}</div>
                </div>               
                <div class="item">
                    <div>{{"Forma Pagament"|trans}}</div>
                    <div>{[{reservation.paymentType.name}]}</div>
                </div>
            </div>
            <div class="pds-reservation-info">
                <div class="item" ng-repeat="age in ages" ng-if="age.pax>0">
                    <div>{[{age.name}]}</div>
                    <div>{[{age.pax}]}</div>
                </div>
            </div>
            <div class="pds-reservation-info">
                <div class="item">
                    <div>{{"Nits"|trans}}</div>
                    <div>{[{numDays()}]}</div>
                </div>
                <div class="item">
                    <div>{{"Entrada"|trans}}</div>
                    <div>{[{YMDToDMY(reservation.dateInYMD)}]}</div>
                </div>
                <div class="item">
                    <div>{{"Sortida"|trans}}</div>
                    <div>{[{YMDToDMY(reservation.dateEndYMD)}]}</div>
                </div>       
            </div>
        </div>

        <div id="promos"ng-show="dispo.promos.length>0">
            <h2 class="brand-text">{{"Promocions"|trans}}:</h2>
            <div class="pds-border">
                <div ng-repeat="promo in dispo.promos">
                    <div style="display:inline-block; width:10px; height:10px; background-color:{[{colors[$index]}]}"></div>
                    <span class="pds-promo">{[{promo.name}]}</span>
                </div>
            </div>
        </div>

        <h2 class="brand-text">{{"Calendari"|trans}}:</h2>
        <div class="pds-months pds-border">
            <div class="pds-month" ng-repeat="month in months">
                <div class="title">{[{month.name}]}</div>
                <div>
                    <div class="day" ng-repeat="day in month.days" ng-class="{'pdsdispo':day.dispo===true,'pdsnodispo':day.dispo===false}" style="background-color:{[{colors[day.color]}]}">
                        <div class="number">{[{day.date}]}</div>
                        <div class="rate" ng-show="day.rate" >{[{day.rate}]}€</div>
                    </div>
                </div>
            </div>
        </div>


        <div ng-show="hasDispo" class="center pds-rate">{[{reservation.rate}]}€</div>
        <div  ng-show="!hasDispo"><span class="pdsnodispo"></span>{{'Dies no disponibles, per continuar amb la reserva, modifiqueu les dates'|trans}}</div>

        <div class='form-group'>
            <button type="button" class="btn btn-icon btn-primary pdsbutton" ng-click="prev()"><i class="icon glyphicon glyphicon-backward" aria-hidden="true"></i></button>
            <button type="submit" ng-disabled="!hasDispo" class="btn btn-icon btn-primary pdsbutton"><i class="icon glyphicon glyphicon-forward" aria-hidden="true"></i></button>
        </div>
    </form>
 </div>