{% extends '::formBase.html.twig' %}

{% block body %}
    <body class="page-login" ng-app="hotels" >
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <div class="page bg-white animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
            <div class="vertical-align-middle form-horizontal pdswizardend" >
                <h2 class="brand-text">{{('Reserva '~ (reservation is defined?'feta':'cancel.lada'))|trans}}</h2>
                
                {% if reservation is defined %}
                    <div class="form-group">
                        <span class="control-label col-sm-4 no-wrap">{{"Codi"|trans}}</span>
                        <span class="col-sm-8"><input class="form-control" readonly  value="{{reservation.id}}"></span>
                    </div>       
                
                    <div class="form-group">
                        <span class="control-label col-sm-4 no-wrap">{{"Pagament"|trans}}</span>
                        {% if reservation.paymentMethod==1 %}
                            <span class="col-sm-8"><input class="form-control" readonly  value="{{'Transferència'|trans}}"></span>
                        {% elseif reservation.paymentMethod==2 %}
                                <span class="col-sm-8"><input class="form-control" readonly  value="PayPal"></span>
                            </div>
                                <div class="form-group">
                                    <span class="control-label col-sm-4 no-wrap">{{"Id Transacció"|trans}}</span>
                                    <span class="col-sm-8"><input class="form-control" readonly  value="{{reservation.transactionId}}"></span>
                                </div>
                                <div class="form-group">
                                    <span class="control-label col-sm-4 no-wrap">{{"Estat Transacció"|trans}}</span>
                                    <span class="col-sm-8"><input class="form-control" readonly  value="{{reservation.transactionStatus}}"></span>
                        {% elseif reservation.paymentMethod==3 %}
                            <span class="col-sm-8">TPV</span>
                        {% endif %}
                    </div>       
                    <div class="form-group">
                        <span class="control-label col-sm-4 no-wrap">{{"Mail enviat"|trans}}</span>
                        <span class="col-sm-8"> <input class="form-control" readonly  value="{{not mailMessage is defined or mailMessage is empty?('Rebreu un mail de confirmació'|trans):mailMessage}}"></span>
                    </div>       
                {% else %}
                    <div class="form-group">
                        <span class="control-label col-sm-4 no-wrap">{{"Error"|trans}}</span>
                        <span class="col-sm-8">
                            <textarea class="form-control" readonly>
                                {{reservationMessage is defined?reservationMessage:''}}
                                {{paymentMessage is defined?paymentMessage:''}}
                            </textarea>
                        </span>
                    </div>   
                {% endif %}
            </div>
        </div>
    </body>    
{% endblock %}