{% extends '::formBase.html.twig' %}
		
{% set PG_RESERVATION=1 %}
{% set PG_ROOMTYPE=2 %}
{% set PG_ACCOMMODATION=3 %}
{% set PG_PAYMENTTYPE=4 %}
{% set PG_LOGIN=5 %}
{% set PG_CLIENTDATA=6 %}
{% set PG_CONFIRM_MAIL=7 %}
{% set PG_PAYMENT=8 %}
{% set PG_CONFIRM=9 %}


{% block body %}
    <body class="page-login" ng-app="hotels" >
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <div class="page bg-white animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out" ng-controller="PublicReservationCtrl">
            {% include 'publicReservation/reservation.html.twig' %}
            {% include 'publicReservation/roomtype.html.twig' %}
            {% include 'publicReservation/accommodation.html.twig' %}
            {% include 'publicReservation/paymenttype.html.twig' %}
            {% include 'publicReservation/login.html.twig' %}
            {% include 'publicReservation/clientdata.html.twig' %}
            {% include 'publicReservation/confirmmail.html.twig' %}
            {% include 'publicReservation/payment.html.twig' %}       
            {% include 'publicReservation/confirmation.html.twig' %}          
        </div>
    </body>
    
{% endblock %}

{% block scripts %} 
    <script src="{{asset('js/PublicReservationCtrl.js')}}"></script>
    <script>
        var checkRoomTypesURL='{{path('checkroomtypes_json')}}';
        var checkAccommodationsURL='{{path('checkaccommodations_json')}}';
        var checkPaymentMethodsURL='{{path('checkpaymenttypes_json')}}';
        
        var checkUserURL='{{path('checkuser_json')}}';
        var checkMailConfirmationURL='{{path('check_mail_confirmation_json')}}';
        var newUserURL='{{path('newuser_json')}}';
        var passwordResetURL='{{path('passwordreset_json')}}';
        var checkoutBankTransfer='{{path('checkoutBankTransfer')}}';
        var countries={};
        {% for country in countries %}
            countries[{{country.id}}]='{{country.name}}';
        {% endfor %}
    </script>
    
    <script src="https://js.braintreegateway.com/js/braintree-2.24.1.min.js"></script>
    <script>
    //Paypal client token
    var clientToken = "{{clientToken}}";
    braintree.setup(clientToken, "dropin", {
      container: "payment-form"
    });
    
    //translations
    var transMonths=[{{"mesos"|trans|raw}}];
    var transUsuariPasswordIncorrectes='{{"Usuari o password incorrectes"|trans({},'validators')}}';
    var transMailCodi='{{"Us hem enviat un mail amb un codi de confirmació"|trans({},'validators')}}';
    var transCodiErroni='{{"Codi erroni"|trans({},'validators')}}';
    var transMailNouPassword='{{"Hem enviat un mail amb el nou password"|trans({},'validators')}}';
    var transMailIncorrecte='{{"e-mail incorrecte"|trans({},'validators')}}';
    
    </script>
{% endblock %}