<div class="vertical-align-middle form-horizontal pdswizard" ng-show="page==PG_LOGIN">
    <form novalidate ng-submit="next()">   
        <div class="brand">
            <h2 class="brand-text">{{"Dades Client"|trans}}</h2>
        </div>

        <div ng-show="message" class="alert alert-danger fade in">{[{message}]}</div>

         <div class="form-group">
            <span class="control-label col-sm-4 no-wrap">{{"e-mail"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="email" type="text">
            </div>
        </div>                


         <div class="form-group">
            <span class="control-label col-sm-4 no-wrap">{{"Password"|trans}}:</span>
            <div class="col-sm-8">
                <input class="form-control" ng-model="password" type="password">
            </div>
        </div>                

        <div>
            <a href="#" ng-click="passwordReset()">{{"No recordo la contrasenya"|trans}}</a><br/><br/>
        </div>

        <div>
            <a href="#" ng-click="next(PG_CLIENTDATA)"><b>{{"Crear"|trans}}</b> {{"nou usuari"|trans}}</a><br/><br/>
        </div>

        <div class='form-group'>
            <button type="button" class="btn btn-icon btn-primary pdsbutton" ng-click="prev()"><i class="icon glyphicon glyphicon-backward" aria-hidden="true"></i></button>
            <button type="submit" class="btn btn-icon btn-primary pdsbutton"><i class="icon glyphicon glyphicon-forward" aria-hidden="true"></i></button>
        </div>
    </form>
</div>