 <div class="vertical-align-middle form-horizontal pdswizard" ng-show='page==PG_PAYMENTTYPE'>   
    <form name="frmRoomType" novalidate ng-submit="next()">
        <div class="brand">
            <h2 class="brand-text">{{"Tipus de pagament"|trans}}</h2>
        </div>

        <div ng-show="message" class="alert alert-danger fade in">{[{message}]}</div>
        
        
        <div class='btn-item' ng-repeat="paymentType in paymentTypes" ng-click="setPaymentType(paymentType)">
            <span style="display:inline-block; width:55%;font-size:20px;">{[{paymentType.name}]}</span>
            <span style="display:inline-block; width:40%;">
                <span style='font-size:13px;'>{{"per"|trans}}</span>
                <b>{[{paymentType.minRate}]}€</b>
            </span>
        </div>

                    
        <div class='form-group'>
            <button type="button" class="btn btn-icon btn-primary pdsbutton" ng-click="prev()"><i class="icon glyphicon glyphicon-backward" aria-hidden="true"></i></button>
        </div>
    </form>
</div>