 <div class="vertical-align-middle form-horizontal pdswizard" ng-show="page==PG_PAYMENT">    
         <div class="brand">
          <h2 class="brand-text">{{"Mètode de pagament"|trans}}</h2>
        </div>
     <div style="text-align:center;">
        <div class="pds-border" style="max-width:400px; display:inline-block;">
            <div class="pds-reservation-info">
                <div class="item">
                    <div>{{"Tipus d'habitació"|trans}}</div>
                    <div>{[{reservation.roomType.name}]}</div>
                </div>
                <div class="item">
                    <div>{{"Pensió"|trans}}</div>
                    <div>{[{reservation.accommodation.name}]}</div>
                </div>               
                <div class="item">
                    <div>{{"Forma de pagament"|trans}}</div>
                    <div>{[{reservation.paymentMethod.name}]}</div>
                </div>
            </div>
            <div class="pds-reservation-info">
                <div class="item">
                    <div>{{"Nits"|trans}}</div>
                    <div>{[{numDays()}]}</div>
                </div>
                <div class="item">
                    <div>{{"Entrada"|trans}}</div>
                    <div>{[{YMDToDMY(reservation.dateInYMD)}]}</div>
                </div>
                <div class="item">
                    <div>{{"Sortida"|trans}}</div>
                    <div>{[{YMDToDMY(reservation.dateEndYMD)}]}</div>
                </div>       
            </div>
        </div>
        <div class="center pds-rate">{[{reservation.paymentType.minRate}]}€</div>

        <div></div>
        <div style="text-align:left;display:inline-block;">
            <div><input type="radio" name="payment" ng-model="reservation.paymentMethod" value="1"/>{{"Transferència Bancària"|trans}}</div>
            <div><input type="radio" name="payment" ng-model="reservation.paymentMethod" value="3"/>{{"TPV"|trans}}</div>
            <div><input type="radio" name="payment" ng-model="reservation.paymentMethod" value="2"/>{{"PayPal"|trans}}</div>
        </div>
        
        <form novalidate ng-submit="next()">      
            <div class='form-group'>
               <button type="button" class="btn btn-icon btn-primary pdsbutton" ng-click="prev()"><i class="icon glyphicon glyphicon-backward" aria-hidden="true"></i></button>
               <button type="submit" class="btn btn-icon btn-primary pdsbutton"><i class="icon glyphicon glyphicon-forward" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
    
</div>