 <div class="vertical-align-middle form-horizontal pdswizard" ng-show='page==PG_RESERVATION'>   
    <form name="frmReservation" novalidate ng-submit="next()">
        <div>
            <a href="{{path('public_reservations',{'_locale':'ca'})}}"><img src="{{asset('images/lang/ca_CA.png')}}"/></a>
            <a href="{{path('public_reservations',{'_locale':'es'})}}"><img src="{{asset('images/lang/es_ES.png')}}"/></a>
            <a href="{{path('public_reservations',{'_locale':'en'})}}"><img src="{{asset('images/lang/en_EN.png')}}"/></a>
            <a href="{{path('public_reservations',{'_locale':'fr'})}}"><img src="{{asset('images/lang/fr_FR.png')}}"/></a>
        </div>
        <div class="brand">
            <h2 class="brand-text">{{"Reserva"|trans}}</h2>
        </div>

        <div ng-show="message" class="alert alert-danger fade in">{[{message}]}</div>
        
        <div class="form-group">
            <span class="control-label col-sm-4">{{"Dia entrada"|trans}}</span>
            <div class="col-sm-8">
                <span  class="input-group">
                    <input type="text" ng-model="dateIn" ng-change="changeDateIn()" uib-datepicker-popup="dd-MM-yyyy" 
                           datepicker-options="dateOptions" current-text="{{'Avui'|trans}}" close-text="{{'Tancar'|trans}}" 
                           clear-text="{{'Esborrar'|trans}}"     is-open="dateInOpened" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateInOpened=!dateInOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-sm-4">{{"Dia sortida"|trans}}</span>
            <div class="col-sm-8">
                <span  class="input-group">
                    <input type="text" ng-model="dateEnd" ng-change="changeDateEnd()" uib-datepicker-popup="dd-MM-yyyy" 
                           datepicker-options="dateOptions" current-text="{{'Avui'|trans}}" close-text="{{'Tancar'|trans}}" 
                           clear-text="{{'Esborrar'|trans}}" is-open="dateEndOpened" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateEndOpened=!dateEndOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </span>
            </div>
        </div>       

        <button type="submit" ng-disabled="!frmReservation.$valid || !myValid()" class="btn btn-icon btn-primary pdsbutton"><i class="icon glyphicon glyphicon-forward" aria-hidden="true"></i></button>
    </form>
</div>