 <div class="vertical-align-middle form-horizontal pdswizard" ng-show='page==PG_ROOMTYPE'>   
    <form name="frmRoomType" novalidate ng-submit="next()">
        <div class="brand">
            <h2 class="brand-text">{{"Tipus d'habitació"|trans}}</h2>
        </div>

        <div ng-show="message" class="alert alert-danger fade in">{[{message}]}</div>
        
        
        <div style="display:inline-block; cursor:pointer; position:relative; text-align:left; width:460px; height:260px;font-size: 17px;font-family:Roboto,Helvetica,Arial,sans-serif;" 
             ng-repeat="roomType in roomTypes" ng-click="setRoomType(roomType)">
            <img src="aaa" style="display:block; width:460px; height:260px;" ng-src="{{asset('optionImages')}}/{[{roomType.image}]}"/>
            <span style="display:inline-block; width:55%;">{[{roomType.name}]}</span>
            <span style="display:inline-block; width:40%;">{{"desde"|trans}} <span style="">{[{roomType.minRate}]}€</span></span>
            <div>{{"Disponible"|trans}}: <b>{[{roomType.dispo}]}</b> {{"Max persones"|trans}}:{[{roomType.pax}]}</div>
            <div style='font-size:13px;'>{[{roomType.description}]}</div>
        </div>

                    
        <div class='form-group'>
            <button type="button" class="btn btn-icon btn-primary pdsbutton" ng-click="prev()"><i class="icon glyphicon glyphicon-backward" aria-hidden="true"></i></button>
        </div>
    </form>
</div>