{% extends '::formBase.html.twig' %}

{% block body %}
    <body class="page-login" ng-app="hotels" >
        <form id="frm" name="frm" action="https://sis-t.redsys.es:25443/sis/realizarPago" method="POST">
            <input type="hidden" name="Ds_SignatureVersion" value="{{version}}"/></br>
            <input type="hidden" name="Ds_MerchantParameters" value="{{params}}"/></br>
            <input type="hidden" name="Ds_Signature" value="{{signature}}"/></br>            
        </form>
    </body>    
{% endblock %}

{% block scripts %}
    <script>
        angular.element(document).ready(function () {
            document.getElementById("frm").submit();
        });
    </script>
{% endblock %}