{% extends '::base.html.twig' %}

{% block scripts %}
    <script> 
        var entityJson="{{path('rule_json')}}/";
        var entitiesJson="{{path('rules_json')}}";
    </script>
    <script src="{{asset('js/Rule.js')}}"></script>
    <script src="{{asset('js/RuleCtrl.js')}}"></script>
{% endblock %}

{% block body %}     
    <div class="container-fluid" ng-controller="RulesCtrl">
        <div class="panel" >
            <div class="form-group">
                <span class="control-label col-sm-1">Inici</span>
                <div class="col-sm-4">
                    <span  class="input-group">
                        <input type="text" ng-model="periodeIn" uib-datepicker-popup="dd-MM-yyyy" is-open="periodeInOpened" class="form-control"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="periodeInOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <span class="control-label col-sm-1">Fi</span>
                <div class="col-sm-4">
                    <span  class="input-group">
                        <input type="text" ng-model="periodeEnd" uib-datepicker-popup="dd-MM-yyyy" is-open="periodeEndOpened" class="form-control"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="periodeEndOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span  class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="update()"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>       
        </div><br/><br/>
        
        
        <table class="table table-hover" style="overflow: hidden;">                
            <thead> 
                <tr>
                    <th style="width:10px;"></th>
                    <th style="width:100px;">Nom<input class="btn btn-sm btn-success" style="margin-left:20px;" type="submit" ng-click="add()" value="+" /></th>
                    <td style="position:relative;">
                        <div ng-repeat="month in months" ng-style="monthStyle($index,month)">{[{month.name}]}</div>
                    </td>
                    <th style="width:25px;"></th>
                </tr>
            </thead>
            <tbody id="calendaris" >

                <tr ng-repeat="rule in rules" ng-click="edit($index)">
                    <td style='position:relative;'>
                        <img ng-click='orderUp($index,$event)' src="{{asset('images/up.png')}}" style='position:absolute; top:10px;'/>
                        <img ng-click='orderDown($index,$event)' src="{{asset('images/down.png')}}" style='position:absolute; bottom:10px;'/>
                    </td>
                    <td><span ng-class="{promo:rule.isPromo,enabled:!rule.enabled}">{[{rule.name}]}</span></td>
                  <td style="position:relative;">
                      <div ng-repeat="stretch in rule.getStretchs()" ng-style="stretchStyle($parent.$index,stretch)"></div>
                  </td>
                </tr>     
            </tbody>
        </table> 
    </div>
                        
{% endblock %}
 
 

 