<!--script type="text/ng-template" id="calendar.html"-->
    <div class="modal-header">
        <input  style="position:absolute; right:20px;" class="btn btn-lg btn-success center-block" type="submit" ng-show='rule.id' ng-click="clone()" value="Clonar" />

        <h3 class="modal-title">Editar Tarifa {[{rule.name}]}</h3>
    </div>

    <form name="form">
        <div class="modal-body">

            <div>
                <label class="btn btn-primary lighter" ng-model="tab" uib-btn-radio="0">General</label>
                <label class="btn btn-primary lighter" ng-model="tab" uib-btn-radio="1">Calendari</label>
                <label class="btn btn-primary lighter" ng-model="tab" uib-btn-radio="2">Preus</label>
                <label class="btn btn-primary lighter" ng-model="tab" uib-btn-radio="3">Dispos</label>
            </div>

            <div ng-show="tab==0" class="ruleTab form-horizontal">

                <div class="form-group">
                    <span class="control-label col-sm-2">Id</span>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" ng-model="rule.id" readonly>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                         <div class="checkbox">
                            <label><input type="checkbox" ng-model="rule.enabled"> Actiu</label>
                          </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="control-label col-sm-2">Nom</div>
                    <div class="col-sm-5" ng-class="{'has-error':rule.__errorname}">
                        <input class="form-control" type="text" ng-model="rule.name">
                        <div class="error" ng-show="rule.__errorname">{[{rule.__errorname}]}</div>
                    </div>
                    
                    <span class="control-label col-sm-1">Tipus</span>
                    <div class="col-sm-2">
                        <select ng-model="rule.ruleSetId" ng-options="ruleSet.id as ruleSet.name for ruleSet in ruleSets" class="form-control">
                        </select>
                    </div>    
                </div>
                <div ng-show="rule.type==3">
                    <div class="form-group">
                        <span class="control-label col-sm-2">Sell Date In</span>
                        <div class="col-sm-3">
                            <span class="input-group">
                                <input type="text" ng-model="rule.__sellDateIn" uib-datepicker-popup="dd-MM-yyyy" is-open="sellDateInOpened" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="sellDateInOpened=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </div>

                        <span class="control-label col-sm-2">Sell Date End</span>
                        <div class="col-sm-3">
                            <span class="input-group">
                                <input type="text" ng-model="rule.__sellDateEnd" uib-datepicker-popup="dd-MM-yyyy" is-open="sellDateEndOpened" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="sellDateEndOpened=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </div>                    
                    </div>

                    <div class="form-group">
                        <div class="control-label col-sm-2">Min dies</div>
                        <div class="col-sm-2" ng-class="{'has-error':rule.__errorminDays}">
                            <input class="form-control" type="text" ng-model="rule.minDays">
                            <div class="error" ng-show="rule.__errorminDays">{[{rule.__errorminDays}]}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-sm-2">Max dies</div>
                        <div class="col-sm-2" ng-class="{'has-error':rule.__errormaxDays}">
                            <input class="form-control" type="text" ng-model="rule.maxDays">
                            <div class="error" ng-show="rule.__errormaxDays">{[{rule.__errormaxDays}]}</div>
                        </div>
                    </div>
                </div>
              
                 <div class="form-group">
                    <div class="control-label col-sm-2">Release</div>
                    <div class="col-sm-2" ng-class="{'has-error':rule.__errorreleaseDays}">
                        <input class="form-control" type="text" ng-model="rule.releaseDays">
                        <div class="error" ng-show="rule.__errorreleaseDays">{[{rule.__errorreleaseDays}]}</div>
                    </div>
                </div>
                
                 <div class="form-group">
                    <span class="control-label col-sm-2">Opcions a Columnes</span>
                    <div class="col-sm-9" style="position:relative;">   
                        <ui-select multiple ng-model="rule.__columns" theme="select2" style="width:100%;" on-select="optionsChange()" on-remove="optionsChange()">
                            <ui-select-match placeholder="Selecciona condicions...">{[{$item.name}]}</ui-select-match>
                            <ui-select-choices group-by="'parameterName'" repeat="option in options">
                              <div ng-bind-html="option.name"></div>
                            </ui-select-choices>                           
                        </ui-select>            
                    </div>
                </div>  
                
                <div class="form-group">
                    <span class="control-label col-sm-2">Opcions a Files</span>
                    <div class="col-sm-9" style="position:relative;">   
                        <ui-select multiple ng-model="rule.__rows" theme="select2" style="width:100%;" on-select="optionsChange()" on-remove="optionsChange()">
                            <ui-select-match placeholder="Selecciona condicions...">{[{$item.name}]}</ui-select-match>
                            <ui-select-choices group-by="'parameterName'" repeat="option in options">
                              <div ng-bind-html="option.name"></div>
                            </ui-select-choices>                           
                        </ui-select>            
                    </div>
                </div>                    
            </div>            
            
                       
            
            <div ng-show="tab==1" class="ruleTab">
                    <table class="table">
                        <thead>
                            <tr><td style="width:160px;">Entrada</td><td style="width:160px;">Sortida</td><td style="width:350px;">Dies</td><td>Black day</td><td></td></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="calendar in rule.calendars">
                                <td>                    
                                    <span  class="input-group">
                                        <input type="text" ng-model="calendar.__dateIn" uib-datepicker-popup="dd-MM-yyyy" is-open="calendar.__dateInOpended" class="form-control"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="calendar.__dateInOpended=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span  class="input-group">
                                        <input type="text" ng-model="calendar.__dateEnd" uib-datepicker-popup="dd-MM-yyyy" is-open="calendar.__dateEndOpended" class="form-control"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="calendar.__dateEndOpended=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span  class="btn-group">
                                        <label class="btn btn-primary lighter" ng-model="calendar.getDaysArray()[0]" uib-btn-checkbox>Dll</label>
                                        <label class="btn btn-primary lighter" ng-model="calendar.getDaysArray()[1]" uib-btn-checkbox>Dm</label>
                                        <label class="btn btn-primary lighter" ng-model="calendar.getDaysArray()[2]" uib-btn-checkbox>Dx</label>
                                        <label class="btn btn-primary lighter" ng-model="calendar.getDaysArray()[3]" uib-btn-checkbox>Dj</label>
                                        <label class="btn btn-primary lighter" ng-model="calendar.getDaysArray()[4]" uib-btn-checkbox>Dv</label>
                                        <label class="btn btn-primary lighter" ng-model="calendar.getDaysArray()[5]" uib-btn-checkbox>Ds</label>
                                        <label class="btn btn-primary lighter" ng-model="calendar.getDaysArray()[6]" uib-btn-checkbox>Dg</label>                                
                                    </span>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="calendar.isBlackDay"/>
                                </td>
                                <td>
                                    <img src="{{asset('images/delete.png')}}" ng-click="delCalendar($index)"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>         
                
                   <div class="text-center">
                        <i class="fa fa-plus-circle" style="vertical-align:-10px; font-size:40px;cursor:pointer;" ng-click="addCalendar()"></i>
                    </div>   
                </div>



                <div ng-show="tab==2" class="ruleTab">
                    <table class="table table-condensed">                
                        <thead> 
                            <tr ng-repeat="item in columns">
                                <th colspan="{[{rows.dimensions}]}"></th>
                                <th ng-repeat="subitem in item" colspan="{[{subitem.span}]}">{[{subitem.name}]}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in rows.items">
                                <td ng-repeat="subitem in item.subitems" rowspan="{[{subitem.span}]}">{[{subitem.name}]}</td>
                                <td ng-repeat="combination in item.combinations">
                                    <input type="text" ng-model="rule.combinations[combination].rate" class="form-control" placeholder="---">
                                </td>
                            </tr>
                        </tbody>
                    </table>                          
                </div>                        
                                

                <div ng-show="tab==3" class="ruleTab">
                    <table class="table table-condensed">                
                        <thead> 
                            <tr>
                                <th>Opció</th>
                                <th>Dispo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="option in rule.__dispoOptions">
                                <td>{[{option.name}]}</td>
                                <td>
                                    <input type="text" ng-model="option.dispo" class="form-control" placeholder="---">
                                </td>
                            </tr>
                        </tbody>
                    </table>                          
                </div>                                            

            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-lg btn-danger center-block" type="button" ng-click="delete()" value="Eliminar" />
                </div>
                <div class="col-md-4">
                    <input class="btn btn-lg btn-info center-block" type="button" ng-click="cancel()" value="Cancel.lar" />
                </div>
                <div class="col-md-4">
                    <input class="btn btn-lg btn-success center-block" type="submit" ng-click="ok()" value="Guardar" />
                </div>
            </div>
        </div>
    </form>
<!--/script-->
