{% extends '::base.html.twig' %}  
 
{% set entityName='Reservation' %}
{% set controller=entityName ~ 'sCtrl'%}
{% set controllerJS='js/' ~ entityName ~ 'Ctrl.js'%}
{% set canWrite=(app.user.role==1) %}

{% block body %}    
    <h1>Reserves</h1>
    <div class="panel" id="{{controller}}" ng-controller="{{controller}}">
        <div class="panel-body" mytable="datatable">
            <table id="datatable" class="table table-hover dataTable table-striped width-full">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Nom</th>
                        <th>Cognom</th>
                        <th>DataIn</th>
                        <th>DataFi</th>
                        <th>NIF</th>
                        <th>Pagat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="{{asset('images/view.png')}}" ng-click="action('view')"/>
                            <img src="{{asset('images/calendar.png')}}" ng-click="action('viewCalendar')"/>
                            <img src="{{asset('images/print.png')}}" ng-click="action('pdf')"/>
                        </td>
                        <td>{[{$element.id}]}</td>
                        <td>{[{$element.dateDMY}]}</td>
                        <td>{[{$element.name}]}</td>
                        <td>{[{$element.surname}]}</td>
                        <td>{[{$element.dateInDMY}]}</td>
                        <td>{[{$element.dateEndDMY}]}</td>
                        <td>{[{$element.nif}]}</td>
                        <td>
                            <img src="{{asset('images/banktransfer.png')}}" style="margin-top:-10px;margin-right:10px;" ng-if="$element.paymentMethod==1">
                            <img src="{{asset('images/paypal.png')}}" style="margin-top:-10px;margin-right:10px;" ng-if="$element.paymentMethod==2">
                            <img src="{{asset('images/tpv.png')}}" style="margin-top:-10px;margin-right:10px;" ng-if="$element.paymentMethod==3">
                            <div ng-class="{'pds-reservation-payed':$element.transactionId,'pds-reservation-notpayed':!$element.transactionId}">
                            </div>
                        </td>
                        <td><img src="{{asset('images/delete.png')}}" ng-click="action('del')"/></td>
                    </tr>
                </tbody>                
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %} 
<script src="{{asset(controllerJS)}}"></script>

<script>
    var entitiesJson="{{path((entityName | lower) ~'s_json')}}";
    var entityJson="{{path((entityName | lower) ~'_json')}}";

    var transMonths=[{{"mesos"|trans|raw}}];
        
    var viewReservation="{{path('reservation_view')}}";
    var pdfReservation="{{path('reservation_pdf')}}";

    var clientsSelect="{{path('usersselect_json')}}";
    var countriesSelect="{{path('countriesselect_json')}}";
    
    var canWrite={{canWrite?'true':'false'}};

</script>
{% endblock %}      
 