{% extends '::base.html.twig' %}  

{% block body %}    
    <h1>Mapa dispo</h1>
    <div ng-controller="MapCtrl">
        <div class="panel" >
            <div class="form-group">
                <span class="control-label col-sm-1">Inici</span>
                <div class="col-sm-4">
                    <span  class="input-group">
                        <input type="text" ng-model="dateIn" uib-datepicker-popup="dd-MM-yyyy" is-open="dateInOpened" class="form-control"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dateInOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <span class="control-label col-sm-1">Fi</span>
                <div class="col-sm-4">
                    <span  class="input-group">
                        <input type="text" ng-model="dateEnd" uib-datepicker-popup="dd-MM-yyyy" is-open="dateEndOpened" class="form-control"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dateEndOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span  class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="update()"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>       
        </div>
        <br><br>
        <h4>Dispo/Reserves:</h4>
        <div class="panel">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td></td>
                    <td ng-repeat="day in days track by $index">{[{day}]}</td>
                </tr>
               <tr ng-repeat="moorageType in data.moorageTypes">
                   <td>{[{moorageType.name}]}</td>
                   <td ng-repeat="dispo in moorageTypes[moorageType.id] track by $index">{[{dispo.dispo}]}/{[{dispo.reservations}]}</td>
               </tr>
           </table>
        </div>
        
        <h4>Promos amb places limitades:</h4>
        <div class="panel">             
            <table class="table table-bordered table-condensed">
                <tr>
                    <td></td><td></td>
                    <td ng-repeat="day in days track by $index">{[{day}]}</td>
                </tr>
                <tr ng-repeat="promo in promos">
                    <td ng-if="promo.rows>0" rowspan="{[{promo.rows}]}">{[{promo.promoName}]}b</td>
                    <td>{[{promo.moorageTypeName}]}</td>
                    <td ng-repeat="dispo in promo.dispos.dispos track by $index">{[{dispo}]}/{[{promo.dispos.reservations[$index]}]}</td>
                </tr>
           </table>
        </div>
    </div>
   
        
{% endblock %}

{% block scripts %} 
    <script src="{{asset('js/MapCtrl.js')}}"></script>
    <script>
        var mapJson="{{path('reservationsdispobydate_json')}}";
        $( document ).ready(function() { $.site.menubar.init(); $.site.menubar.fold();});
    </script>
{% endblock %}      
 