<!--script type="text/ng-template" id="client.html"-->
    <div class="modal-header">
        <h3 class="modal-title">Editar Reserva</h3>
    </div>
    <form name='form' class="modal-body form-horizontal">
        <div class="form-group">
            <span class="control-label col-sm-3">Id</span>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="entity.id" readonly>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':entity.__errorboatModel}">
            <span class="control-label col-sm-3">Tipus Embarcacio</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.boatModel" class="form-control" placeholder="Motor">                
                <div class="error" ng-show="entity.__errorboatModel">{[{entity.__errorboatModel}]}</div>
            </div>            
        </div>    
        
        <div class="form-group" ng-class="{'has-error':entity.__errorlength}">
            <span class="control-label col-sm-3">Eslora</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.length" class="form-control" placeholder="Import">                
                <div class="error" ng-show="entity.__errorlength">{[{entity.__errorlength}]}</div>
            </div>            
        </div>
        
        <div class="form-group" ng-class="{'has-error':entity.__errorwidth}">
            <span class="control-label col-sm-3">Manega</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.width" class="form-control" placeholder="Import">                
                <div class="error" ng-show="entity.__errorwidth">{[{entity.__errorwidth}]}</div>
            </div>            
        </div>

        <div class="form-group" ng-class="{'has-error':entity.__errordepth}">
            <span class="control-label col-sm-3">Calat</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.depth" class="form-control" placeholder="Import">                
                <div class="error" ng-show="entity.__errordepth">{[{entity.__errordepth}]}</div>
            </div>            
        </div>
        
        <div class="form-group">
            <span class="control-label col-sm-3">Data Entrada</span>
            <div class="col-sm-9">
                <span  class="input-group">
                    <input type="text" ng-model="entity.dateInYMD" uib-datepicker-popup is-open="dateInOpened" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateInOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </span>
            </div>
        </div>
        
        <div class="form-group">
            <span class="control-label col-sm-3">Data Sortida</span>
            <div class="col-sm-9">
                <span  class="input-group">
                    <input type="text" ng-model="entity.dateEndYMD" uib-datepicker-popup is-open="dateEndOpened" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateEndOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </span>
            </div>
        </div>               
        
        
        
        <div class="form-group">
            <span class="control-label col-sm-3">Client</span>
            <div class="col-sm-9">
                <select ng-model="entity.userId" ng-options="item.id as item.fullName for item in clients">
                </select>
            </div>
        </div>                

        <div class="form-group">
            <span class="control-label col-sm-3">Promoció</span>
            <div class="col-sm-9">
                <select ng-model="entity.promoId" ng-options="item.id as item.name for item in promos">
                </select>
            </div>
        </div>                

        <div class="form-group">
            <span class="control-label col-sm-3">Tipus Embarcació</span>
            <div class="col-sm-9">
                <select ng-model="entity.boatTypeId" ng-options="item.id as item.name for item in boatTypes">
                </select>
            </div>
        </div>                

        <div class="form-group">
            <span class="control-label col-sm-3">Tipus Amarre</span>
            <div class="col-sm-9">
                <select ng-model="entity.moorageTypeId" ng-options="item.id as item.name for item in moorageTypes">
                </select>
            </div>
        </div>                

        <div class="form-group" ng-class="{'has-error':entity.__errorrate}">
            <span class="control-label col-sm-3">Import</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.rate" class="form-control" placeholder="Import">                
                <div class="error" ng-show="entity.__errorrate">{[{entity.__errorrate}]}</div>
            </div>            
        </div>
        
        
        <div class="form-group" ng-class="{'has-error':entity.__errorboatName}">
            <span class="control-label col-sm-3">Nom embarcacio:</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.boatName" class="form-control" placeholder="Matrícula">
                <div class="error" ng-show="entity.__errorboatName">{[{entity.__errorboatName}]}</div>
            </div>
        </div>        
        
        <div class="form-group" ng-class="{'has-error':entity.__errorplate}">
            <span class="control-label col-sm-3">Matrícula</span>
            <div class="col-sm-9">
                <input type="text" ng-model="entity.plate" class="form-control" placeholder="Matrícula">
                <div class="error" ng-show="entity.__errorplate">{[{entity.__errorplate}]}</div>
            </div>
        </div>
        
        <div class="form-group">
            <span class="control-label col-sm-3">Bandera</span>
            <div class="col-sm-9">
                <select ng-model="entity.boatCountryId" ng-options="item.id as item.name for item in countries">
                </select>
            </div>
        </div>
        
       
        
        <div class="form-group">
            <div class="col-md-6">
                <input class="btn btn-lg btn-info center-block" type="button" ng-click="cancel()" value="Cancel.lar" />
            </div>
            <div class="col-md-6">
                <input class="btn btn-lg btn-success center-block" type="submit" ng-click="ok()" value="Guardar" />
            </div>
        </div>
    </form>
<!--/script-->
