<!--script type="text/ng-template" id="viewReservationDlg.html"-->
<div style="padding:20px;">
    <h2 class="brand-text">{{"Calendari"|trans}}:</h2> 
  
    <div class="pds-months pds-border">
        <div class="pds-month" ng-repeat="month in months">
            <div class="title">{[{month.name}]}</div>
            <div>
                <div class="day" ng-repeat="day in month.days" ng-class="{'pdsdispo':day.dispo===true,'pdsnodispo':day.dispo===false}" style="background-color:{[{colors[day.color]}]}">
                    <div class="number">{[{day.date}]}</div>
                    <div class="rate" ng-show="day.rate" >{[{day.rate}]}€</div>
                </div>
            </div>
        </div>
    </div>

    <div class="center pds-rate">{[{reservation.rate}]}€</div>
</div>
<!--/script-->
