{% extends '::base.html.twig' %}  

{% block body %}    
    <h1>Preus Especials</h1>
    <div ng-controller="SpecialRatesCtrl">
        <div class="panel" >
            <div class="form-group">
                <div class="col-sm-2">
                    <span  class="input-group">
                        <select ng-model="selectedRuleSet" ng-options="ruleSet.id as ruleSet.name for ruleSet in ruleSets" class="form-control">
                        </select>
                    </span>
                </div>
                <div class="col-sm-3">
                    <span  class="input-group">
                        <span class="input-group-addon">Inici</span>
                        <input type="text" ng-model="dateIn" uib-datepicker-popup="dd-MM-yyyy" is-open="dateInOpened" class="form-control"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dateInOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="col-sm-3">
                    <span  class="input-group">
                        <span class="input-group-addon">Fi</span>
                        <input type="text" ng-model="dateEnd" uib-datepicker-popup="dd-MM-yyyy" is-open="dateEndOpened" class="form-control"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="dateEndOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span  class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="update()"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
                        
                <div class="col-sm-2">
                    <span  class="input-group">
                        <button type="button" class="btn btn-default btn-info" ng-click="isCollapsed = !isCollapsed">Dades</button>
                        <div style="z-index:2000; position:absolute;" uib-collapse="isCollapsed">
                                <div class="well well-lg">
                                    <div ng-repeat="parameter in parameters">
                                        <div class="selectMoorageType">
                                            <b>{[{parameter.name}]}</b>
                                        </div>
                                        <div class="selectBoatType" ng-repeat="option in parameter.options"> 
                                            ng-click="selectedOptions[option.id]=!selectedOptions[option.id]" 
                                            ng-class="{'selectSelected':selectedOptions[option.id]}">{[{option.name}]}</div>
                                    </div>
                                </div>
                        </div>
                    </span>
                </div>
                        
            </div>       
        </div>
        <br><br>        
        <div class="panel scrollable-horizontal">
            <table class="table table-bordered table-condensed">
                <tr class="specialRateHeader">
                    <td colspan="{[{rateRows.dimensions}]}"><b>Preus</b></td>
                    <td ng-repeat="day in days track by $index">{[{day}]}</td>
                </tr>
                <tr ng-repeat="item in rateRows.items">
                     <td ng-repeat="subitem in item.subitems" rowspan="{[{subitem.span}]}" style="padding:0px;">{[{subitem.name}]}</td>
                     <td ng-repeat="day in item.days track by $index">
                         <div ng-if="day.object">
                            <input class="specialRateInput" ng-change="rateChange($index, day)" ng-class="{'edited':day.value!==null && day.value!==''}" type="text" ng-model="day.value"}]}"/>
                            <div class="no-wrap euro"><input class="specialRateInputBack" type="text" value="{[{day.base}]}" readonly/></div>
                         </div>
                         <div ng-if="!day.object">--</td>
                     </td>
                </tr>
                <tr class="specialRateHeader">
                    <td colspan="{[{rateRows.dimensions}]}"><b>Dispo</b></td>
                    <td ng-repeat="day in days track by $index">{[{day}]}</td>
                </tr>
                <tr ng-repeat="item in dispoRows">
                    <td colspan="{[{rateRows.dimensions}]}">{[{item.name}]}</td>
                    <td ng-repeat="day in item.days">
                         <div ng-if="day.object">
                            <input class="specialRateInput" ng-class="{'edited':day.value!==null && day.value!==''}" type="text" ng-model="day.value"}]}"/>
                            <div class="no-wrap"><input class="specialRateInputBack" type="text" value="{[{day.base}]}" readonly/></div>
                         </div>
                         <div ng-if="!day.object">--</td>
                     </td>
                </tr>
           </table>
        </div>
                         
        <div class="form-group">
            <div class="col-md-6">
                <input class="btn btn-lg btn-info center-block" type="button" ng-click="update()" value="Cancel.lar" />
            </div>
            <div class="col-md-6">
                <input class="btn btn-lg btn-success center-block" type="submit" ng-click="ok()" value="Guardar" />
            </div>
        </div>
    </div>       

{% endblock %}

{% block scripts %} 
    <script src="{{asset('js/SpecialRatesCtrl.js')}}"></script>
    <script>
        var ruleSets={{ruleSets|raw}};
        var specialratesJson="{{path('specialrates_json')}}";
        $( document ).ready(function() { $.site.menubar.init(); $.site.menubar.fold();});
    </script>
{% endblock %}      
 