@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
    font-family: "Web Icons";
    font-style:normal;
    font-weight:400px;
    src:url("web-icons.woff2");
}

@font-face {
    font-family: "FontAwesome";
    font-style:normal;
    font-weight:normal;
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
        url('fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
        url('fontawesome-webfont.woff?v=4.7.0') format('woff'), 
        url('fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
        url('fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}



th.sorting, th.sorting-asc, th.sorting-desc {
    cursor:pointer;
}
th.sorting:after, th.sorting-asc:after , th.sorting-desc:after{
    font-family: "Web Icons";
}

th.sorting:after {
    content: "\f18c";
    opacity: .2;
}

th.sorting-asc:after {
    content: "\f190";    
    opacity: .5;
}

th.sorting-desc:after {
    content: "\f18f";  
    opacity: .5;
}

.pagination { margin-top:0px; }

.btn-item {
    cursor:pointer; 
    font-size: 17px;
    font-family:Roboto,Helvetica,Arial,sans-serif;
    border: solid 1px #ccf;
    border-radius:5px;
    margin:20px;
}
.btn-item:hover {
    background-color: #ccf;
}