.table img, .pointer { cursor:pointer;}
.form-group .error {color:red; position:absolute;}
.dragover { background-color: #ccc; }
.boatTypeFoto { height:100px;}

.form-control-style {
    border: 1px solid #E4EAEC;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.ruleTab { min-height:400px; padding:10px;}

.promo { background-color:yellow;}
.enabled { text-decoration: line-through; }

.btn-primary.lighter { background: #A2E8ff; border-color: #A2E8ff; }
.btn-primary.lighter.active { background: #4E97D9; border-color: #4E97D9;}

.selectMoorageType { font-weight: bold; white-space: nowrap;}
.selectBoatType { margin-left:20px; white-space: nowrap;}
.selectMoorageType:hover, .selectBoatType:hover { cursor: default; text-decoration:underline; }
.selectSelected {background-color: #f07746; color:white;}


.specialRateHeader {
    background-color:#9090ff; 
    color:white; 
    font-weight:bold;
}

.specialRateInput {
    position:absolute; 
    z-index:20px; 
    border-color:transparent;
    background-color: transparent;
    width:40px;
    text-align: right;
}

.specialRateInput.edited {
    background-color:#ffffd0;
}
.specialRateInputBack {
    background-color: transparent;
    border-color:transparent;
    width:40px;
    text-align: right;
}

tr.dispo {
    background-color: #d0d0ff;
}
.euro::after {
    content:"€";
}
.no-wrap {white-space: nowrap;}
.scrollable-horizontal { overflow-x: auto;}
body {overflow-x: hidden;}

.page-login {
    padding:5px;
    height:auto;
}
.pdswizard {
    max-width:400px;    
    vertical-align:top !important;
}

.pdswizard h2 {
    color: #002a5b;
}

.pdswizardend {
    vertical-align:top !important;
}


/* calendari*/
@media (max-width: 768px) {
    .btn-sm {
        padding:6px !important;
    }
    .form-control {
        text-align:center;
    }
}
@media (max-width: 320px) {
    .btn-sm {
        padding:4px !important;
    }
}

@media (min-width: 768px) {
    .pdswizardend {
        min-width:600px;
    }
    .pdswizard {
        min-width:400px;
    }
}



.pdsbutton {
    min-width:100px;
}


.pds-border {
    border:solid 1px #aaa;
    border-radius: 10px;
}


.pdsdispobox {
    display:inline-block;
    margin:5px;
}

.pdsdispo {
    background-color: #5c9aed;
    font-weight:bold;
    
}

.pdsnodispo {
    background-color: #ff6767;
    color:#ff6767;
}

.pdsdispotable td {
    padding:10px;
}

.pdsdispotable td span {
    display:block;
}

.pds-reservation-info .item{
    display:inline-block;
    padding:20px;
    padding-top:0px;
}

.pds-reservation-info .item div:nth-child(2) {
    color:#468CAF;
    font-size:18px;
    font-weight: bold;
}

.pds-promo{
    color:#468CAF;
    font-weight: bold;
}

.pds-months {
    
}

.pds-month {
    display:inline-block;
    width:250px;
    text-align:left;
    vertical-align: top;
}

.pds-month .title {
    text-align:center;
    color:#468CAF;
    font-weight: bold;
    font-size: 14px;
}

.pds-month .day {
    display:inline-block;
    width:30px;
    height:35px;
    overflow: hidden;
    margin-right:5px;
    text-align: center;
}

.pds-month .day .rate {
    font-size:9px;
    font-weight: normal;
}

.pds-rate {
    background-color: #7Ca1b4;
    border-radius: 1000px 1000px 1000px 1000px;
    color: #FFFFFF;
    padding: 4px;
    text-align: center;
    margin:20px;
}

.pds-conditions {
    margin-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}

.pds-condition {
    text-align:left;
    padding-bottom:20px;
}

.selected {
    background-color:#ccf;
}

.pds-activity tr th:nth-child(2) { width:200px;}
.pds-activity tr th:nth-child(3) { width:200px;}
.pds-activity tr th:nth-child(4) { width:200px;}
.pds-activity tr th:nth-child(5) { width:200px;}

.pds-reservation-disabled {
    background: #faa !important;
}

.pds-reservation-payed {
    display:inline-block;
    width:20px;
    height:20px;
    background-color:#50ff50;
    border-radius:10px;
}

.pds-reservation-notpayed {
    display:inline-block;
    width:20px;
    height:20px;
    background-color:#ff5050;
    border-radius:10px;
}

.pds-activity-btn {
    color: #ccc;
    background-color: transparent;
    border-color: #ccc;
}

.pds-activity-btn.active {
    color: #fff;
    background-color: #4e97d9;
    border-color: #4e97d9;
}
