{% extends 'formBase.html.twig' %}
		
{% block stylesheets %}
      <link rel="stylesheet" href="{{asset('css/login.css')}}">
{% endblock %}


{% block body %}
   <body class="page-login layout-full page-dark">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
  data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <div class="brand">
            <img class="brand-img" src="{{asset('images/logo.png')}}" width="200" alt="...">
            <h2 class="brand-text">Booking...</h2>
        </div>

      <form method="post" action="{{path('login')}}">
        <div class="form-group">
          <label class="sr-only">Usuari</label>
          <input type="text" class="form-control"  name="_username" placeholder="usuari">
        </div>
        <div class="form-group">
          <label class="sr-only">Password</label>
          <input type="password" class="form-control" name="_password"
          placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
      </form>
        
      <p>{{error?'Usuari o password incorrectes'}}</p>
        
      <footer class="page-copyright page-copyright-inverse">
        <div class="social">
          <a href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-dribbble" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
    </div>
   </body>
{% endblock %}					
                
                                        
                                        
                                        